body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f2f2f2;
}

.contenedor_login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
    margin-top: 50px;
}

.login-box {
    background: linear-gradient(90deg, #8fc5c3, #63b495);
    border-radius: 10px;
    padding: 40px;
    width: 450px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.login-box a {
    text-decoration: none;
    color: white;
}

h2 {
    color: white;
    margin-bottom: 10px;
}

p {
    color: white;
    margin-bottom: 30px;
}
.input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
}

.icono {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    color: #333;
}

/* Estilos para listas desplegables */
.input select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.input select:focus {
    border-color: #b2f6b7;
    outline: none;
}

/* Estilos del botón de envío */
button {
    width: 100%;
    padding: 15px;
    background-color: #6bd084;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a456;
}

/* Mensajes de alerta */
.alert {
    font-size: 12px;
    font-family: Arial, Helvetica;
    line-height: 1.2;
    padding: 5px;
    margin: 5px 0;
    color: #d9534f;
    display: none; 
}
