
body {
    font-family: 'Arial';
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
    color: #333;
    flex-direction: row;
    gap: 40px;
}

/* Contenedor principal de la página */
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

form {
    width: 35%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    box-sizing: border-box;
}
h1 {
    color: #375ba8;
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 12px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #6d8cbd;
    display: block;
    margin-bottom: 5px;
}

/* Estilo de los campos de entrada */
input[type="text"],
input[type="number"],
select,
button {
    width: 100%; 
    padding: 10px;
    margin: 6px 0;
    border: 2px solid #ccd1e0;
    border-radius: 6px;
    font-size: 14px;
    background-color: #f0f4f8;
    box-sizing: border-box;
}

/* Estilo de los botones */
button[type="button"],
button[type="submit"] {
    background-color: #5bd59c;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}
button[type="button"]:hover,
button[type="submit"]:hover {
    background-color: #103d6d;
}

#mapFrame {
    width: 60%; 
    height: 450px;
    border: 1px solid #d6d6d6;
    border-radius: 8px;
}
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
        margin-right: 0;
    }

    #mapFrame {
        width: 100%;
    }
}

.alert {
    font-size: 12px;
    font-family: Arial, Helvetica;
    line-height: 1.2;
    padding: 5px;
    margin: 5px 0;
    color: #d9534f;
    display: none; 
    background-color: #f8d7da;
    text-align: center;
}
