/* Estilos Generales */
body {
    background-color: #f1f2f6;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
}

.card {
    max-width: 650px;
    margin: auto;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    border: none;
}

/* Encabezado de la tarjeta */
.card-header {
    background-color: #72b8bd;
    color: white;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    font-weight: 600;
}

.card-header h2 {
    margin: 0;
    font-size: 28px;
}

/* Foto de Perfil */
#fotoPerfil {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    border: 6px solid #72b8bd;
}

#fotoPerfil:hover {
    transform: scale(1.1);
}

/* Estilos para los campos de perfil */
.form-group {
    margin-bottom: 1.5rem;
}

.profile-info {
    font-size: 16px;
    padding: 10px;
    font-weight: normal;
    color: #34495e;
}

/* Estilos para los campos de texto editables */
.form-control {
    font-size: 16px;
    padding: 12px;
    border: 2px solid #72b8bd;
    border-radius: 10px;
    background-color: #ecf6f7;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #3498db;
    outline: none;
}

/* Botones para editar y eliminar */
.icon-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
}

.icon-buttons a {
    color: white;
    padding: 12px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.icon-buttons .edit {
    background-color: #3498db;
}

.icon-buttons .delete {
    background-color: #e74c3c;
}

/* Estilos para la interfaz responsiva */
@media (max-width: 768px) {
    .card {
        padding: 25px;
    }

    #fotoPerfil {
        width: 150px;
        height: 150px;
    }

    .card-header h2 {
        font-size: 24px;
    }

    .icon-buttons a {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 20px;
    }

    #fotoPerfil {
        width: 130px;
        height: 130px;
    }

    .icon-buttons a {
        padding: 8px;
    }
}

/* Estilos para el icono de coche */
.cart-icon {
    font-size: 24px;
    color: #808080; /* Gris */
    margin-right: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.cart-icon:hover {
    transform: translateX(10px); 
    color: #2c3e50; 
}

/* Estilos para la sección del número de viajes */
#viajesUsuario {
    font-size: 16px;
    font-weight: normal;
    color: #34495e;
    display: flex;
    align-items: center;
}

#viajesUsuario span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}

.other-profiles-container {
    background-color: #f0f8ff;
    border: 2px solid #007bff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px; /* Ajusta el ancho máximo */
    margin: 0 auto;  /* Centra el contenedor */
}
.other-profiles-container h3 {
    font-size: 24px;
    color: #007bff;
}
.other-profiles-container p {
    font-size: 18px;
    color: #333;
}
.other-profiles-container .btn-info {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
}
.other-profiles-container .btn-info:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.alert {
    font-size: 12px;
    font-family: Arial, Helvetica;
    line-height: 1.2;
    padding: 5px;
    margin: 5px 0;
    color: #d9534f;
    display: none; 
    background-color: #f8d7da;
    text-align: center;
}
